{% extends 'todolistapp/main.html' %}
{% block content %}

<style>
    body, html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F3E8FF; /* Light purple background */
    }

    .card-body {
        width: 100%;
        max-width: 400px;
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .card-body form {
        margin: 20px 0;
    }

    label {
        display: block;
        text-align: left;
        margin-top: 20px;
        color: #5A189A; /* Deep purple */
        font-weight: 600;
    }

    input[type="text"], input[type="password"], input[type="submit"], input[type="email"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #DDD;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .button {
        background-color: #7A3EB1; /* Dark purple */
        color: #fff;
        border: none;
        font-size: 16px;
        padding: 10px 0;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .button:hover {
        background-color: #9B5DE5; /* Lighter purple */
    }

    a {
        color: #7A3EB1;
        text-decoration: none;
        font-weight: 600;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        color: #5A189A; /* Deep purple */
        margin-bottom: 20px;
    }
</style>

<div class="card-body">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}

        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        {{ form.password1 }}

        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        {{ form.password2 }}

        <input style="margin-top:10px;" class="button" type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock content %}
