{% extends 'todolistapp/main.html' %}
{% block content %}

<style>
    .header-bar {
        display: flex;
        justify-content: flex-start; /* Align items to the start (left) */
        align-items: center;
        background: linear-gradient(135deg, #6D5BBA 0%, #8D58BF 100%);
        color: white;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 5px rgba(107, 103, 103, 0.2);
    }

    .header-bar a {
        display: inline-block;
        color: #7E57C2; /* Darker purple */
        text-decoration: none;
        background-color: #EDE7F6; /* Lighter purple background */
        padding: 10px 15px;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .header-bar a:hover {
        background-color: #D1C4E9; /* Even lighter purple */
    }

    .card-body {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        padding: 20px;
        max-width: 600px;
        margin: 40px auto;
        text-align: center;
    }

    form {
        margin: 20px 0;
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="date"], select, textarea {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .button {
        background-color: #7E57C2; /* Darker purple */
        color: white;
        padding: 10px 20px;
        margin: 20px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    .button:hover {
        background-color: #673AB7; /* Even darker purple */
    }

    label {
        display: block;
        text-align: left;
        margin-top: 20px;
        color: #5A189A; /* Deep purple */
        font-weight: 600;
    }
</style>

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>

{% endblock content %}
